<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.buzzware.apnigari" >

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ApniGari" >

        <activity android:name=".activities.splash.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.SelectScreen"
            android:exported="true"/>

        <activity android:name=".activities.auth.Login"
            android:exported="true"/>

        <activity android:name=".activities.rentACar.RentACar"
            android:exported="true"/>

        <activity android:name=".activities.carBooking.BookACar"
            android:exported="true"/>

        <activity android:name=".activities.messages.chatList.ChatList"
            android:exported="true"/>

        <activity android:name=".activities.auth.SignUp"
            android:exported="true"/>

        <activity android:name=".activities.messages.chat.Chat"
            android:exported="true"/>


        <activity android:name=".activities.carBookings.CarBookings"
            android:exported="true"/>

        <activity android:name=".activities.profile.ProfileActivity"
            android:exported="true"/>

        <activity android:name=".activities.setting.SettingActivity"
            android:exported="true"/>

        <activity android:name=".activities.home.Home"
            android:exported="true"/>

        <activity android:name=".activities.yourTrip.YourTrip"
            android:exported="true"/>

        <activity android:name=".activities.wallet.Wallet"
            android:exported="true"/>

        <activity android:name=".activities.support.Support"
            android:exported="true"/>

        <activity android:name=".activities.refer.Refer"
            android:exported="true"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
    </application>

</manifest>